<footer class="footer_grid">
    <p>@Copyrigth 2021. Todos los derechos reservados.</p>
    <p>Términos y condiciones</p>
    <p>Política de confidencialidad</p>

    <section class="rrss">
        <a href="#"><img src="assets/img/.jpg" alt="facebook"></a>
        <a href="#"><img src="assets/img/.jpg" alt="instagram"></a>
        <a href="#"><img src="assets/img/.jpg" alt="twitter"></a>
    </section>
</footer>

</body>

</html>