<%- include('../includes/head.ejs') %>
<script src="/js/jquery.validate.min.js"></script>
<!--vinculamos el plugin de jquery para que funcione la validación-->
<script src="/js/registroEjemplar.js"></script>
<!--Vinculamos la hoja donde añadiremos los scripts-->
<%- include('../includes/header.ejs') %>

<form action='/libros/registerBook' method='post'>
    <label for="titulo">T&iacute;tulo</label>
    <input type="text" id='titulo' name='titulo' required autofocus><br>

    <label for="id_autor">ID autor</label>
    <input type="text" name="id_autor" id="id_autor" required><br>

    <label for="id_editorial">ID editorial</label>
    <input type="text" name="id_editorial" id="id_editorial" required><br>

    <label for="isbn">ISBN</label>
    <input type="text" id="isbn" name="isbn" required><br>

    <label for="genero">G&eacute;nero</label>
    <input type="text" name="genero" id="genero" required><br>

    <label for="ejemplares">Número de ejemplares</label>
    <input type="number" name="ejemplares" id="ejemplares" min="1" required><br>

    <label for="idioma">Idioma</label>
    <input type="text" name="idioma" id="idioma" required><br>

    <label for="numPaginas">Número de páginas</label>
    <input type="number" name="numPaginas" id="numPaginas" min="1" required><br>

    <input type="submit" name="registrar" id="registrar" value="Registrar">
</form>

<%- include('../includes/footer.ejs') %>