/* Eliminar el formato de los botones*/
button {
    background-color: inherit;
    border: none;
    color: inherit;
}

/*Formato de la sección de cookies*/
aside {
    height: 20vh;
    width: 100vw;
    /*top:40vh;*/
    bottom: 0;
    position: fixed;
    background-color: #DBE2EF;
    color: #112D4E;
}

aside p {
    text-align: center;
    font-size: 2em;
    line-height: 20vh;
}

aside #cerrar-cookies {
    float: right;
    /*Posicionar el botón del aside*/
    cursor: pointer;
}

/*
aside #cerrar-cookies i:hover {
    cursor: pointer;
}*/

/*Formato del main*/
main {
    grid-area: main;
    padding: 3%;
    position: relative;
}

/*Formato del subgrid de libros*/
.main_grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1em;
    justify-items: center;
}

.main_grid>* {
    text-align: center;
}

/*Formato de cada libro*/
.libro {
    width: 200px;
    padding: 5%;
    color: #112D4E;
    /* font-size: 1.2em; */
}

.libro i:hover {
    cursor: pointer;
}

.libro .img-portada {
    width: 70%;
}

/*Formato del carrusel con detalles de libros*/
.modal-box {
    position: absolute;
    display: none;
    width: 40vw;
    top: 0;
    bottom: 15vh;
    left: 30vw;
    overflow: auto;
    background-color: #DBE2EF;
    border: 1px solid #DBE2EF;
    box-shadow: #DBE2EF;
    box-shadow: 15px 5px 30px #5e5858;
}

.modal-box #cerrar-carrousel {
    float: right;
    cursor: pointer;
}

.modal-box .libro {
    width: 90%;
    margin: auto;
    text-align: center;
}

.modal-box .libro>* {
    margin: 3%;
}

/*Formato de la tabla con la ficha del libro*/
.ficha-libro {
    text-align: left;
    line-height: 2em;
    padding: 3%;
    border-collapse: collapse;
}

.ficha-libro th {
    width: 20%;
}

.libro.carrousel .img-portada {
    width: 50%;
}


/* Sliding animation 
.slide {
    position: absolute;
    left: -100px;
    width: 100px;
    height: 100px;
    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 0.5s forwards;
}

@-webkit-keyframes slide {
    100% { left: 0; }
}

@keyframes slide {
    100% { left: 0; }
}*/

/*Formato de los botones de navegación en el carrusel*/
#prev-book,
#next-book {
    cursor: pointer;
    bottom: 0;
}

#prev-book {
    float: left;
}

#next-book {
    float: right;
}