.footer_grid {
    grid-area: footer;
    background-color: #112D4E;
    color: #DBE2EF;
    width: 100%;
    bottom: 0;
}

.footer_grid p {
    font-size: 1.2em;
    text-align: center;
}

.footer_grid a,
.footer_grid a:active,
.footer_grid a:hover,
.footer_grid a:visited {
    font-size: 1.2em;
    color: #DBE2EF;
}