header {
    grid-area: header;
    height: 15vh;
    width: 100vw;
    background-color: #112D4E;
    color: #DBE2EF;
    font-size: 3em;
    text-align: center;
    position: relative;
}

header h1 {
    line-height: 15vh;
}

header img {
    width: 30px;
}