<%- include('../includes/head') %>

<!--CSS que borra cualquire estilo por defecto-->
<!--<link rel="stylesheet" href="/css/index.css" type="text/css">-->

<%- include('../includes/header.ejs') %>

<main class="main_grid">

    <section class="contenedor_novedades">
        <h2>Novedades</h2>
        <a href="#">Ver más</a>

        <section class="contenedor_libros">

            <article class="libro">

                <section class="portada_libro">
                    <a href="#"><img src="assets/img/El_camino_de_los_reyes.jpg" alt="Portada Libro"></a>
                </section>

                <section class="datos_libro">
                    <div class="title">El camino de los reyes</div>
                    <div class="author">Brandon Sanderson</div>
                    <div class="synopsis">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum animi dolores
                        eius repellat debitis nisi facilis ipsam beatae, itaque modi inventore eaque quam molestiae,
                        eligendi qui, libero non. Ab, repellat.</div>
                </section>

            </article>

            <article class="libro">

                <section class="portada_libro">
                    <a href="#"><img src="assets/img/El_camino_de_los_reyes.jpg" alt="Portada Libro"></a>
                </section>

                <section class="datos_libro">
                    <div class="title">El camino de los reyes</div>
                    <div class="author">Brandon Sanderson</div>
                    <div class="synopsis">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum animi dolores
                        eius repellat debitis nisi facilis ipsam beatae, itaque modi inventore eaque quam molestiae,
                        eligendi qui, libero non. Ab, repellat.</div>
                </section>

            </article>

            <article class="libro">

                <section class="portada_libro">
                    <a href="#"><img src="assets/img/El_camino_de_los_reyes.jpg" alt="Portada Libro"></a>
                </section>

                <section class="datos_libro">
                    <div class="title">El camino de los reyes</div>
                    <div class="author">Brandon Sanderson</div>
                    <div class="synopsis">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum animi dolores
                        eius repellat debitis nisi facilis ipsam beatae, itaque modi inventore eaque quam molestiae,
                        eligendi qui, libero non. Ab, repellat.</div>
                </section>

            </article>

            <article class="libro">

                <section class="portada_libro">
                    <a href="#"><img src="assets/img/El_camino_de_los_reyes.jpg" alt="Portada Libro"></a>
                </section>

                <section class="datos_libro">
                    <div class="title">El camino de los reyes</div>
                    <div class="author">Brandon Sanderson</div>
                    <div class="synopsis">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum animi dolores
                        eius repellat debitis nisi facilis ipsam beatae, itaque modi inventore eaque quam molestiae,
                        eligendi qui, libero non. Ab, repellat.</div>
                </section>

            </article>

            <article class="libro">

                <section class="portada_libro">
                    <a href="#"><img src="assets/img/El_camino_de_los_reyes.jpg" alt="Portada Libro"></a>
                </section>

                <section class="datos_libro">
                    <div class="title">El camino de los reyes</div>
                    <div class="author">Brandon Sanderson</div>
                    <div class="synopsis">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum animi dolores
                        eius repellat debitis nisi facilis ipsam beatae, itaque modi inventore eaque quam molestiae,
                        eligendi qui, libero non. Ab, repellat.</div>
                </section>

            </article>

            <article class="libro">

                <section class="portada_libro">
                    <a href="#"><img src="assets/img/El_camino_de_los_reyes.jpg" alt="Portada Libro"></a>
                </section>

                <section class="datos_libro">
                    <div class="title">El camino de los reyes</div>
                    <div class="author">Brandon Sanderson</div>
                    <div class="synopsis">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum animi dolores
                        eius repellat debitis nisi facilis ipsam beatae, itaque modi inventore eaque quam molestiae,
                        eligendi qui, libero non. Ab, repellat.</div>
                </section>

            </article>

        </section>

    </section>

    <section class="contenedor_populares">
        <h2>Lo más leído</h2>
        <a href="#">Ver más</a>

        <section class="contenedor_libros">

            <article class="libro">

                <section class="portada_libro">
                    <a href="#"><img src="assets/img/El_camino_de_los_reyes.jpg" alt="Portada Libro"></a>
                </section>

                <section class="datos_libro">
                    <div class="title">El camino de los reyes</div>
                    <div class="author">Brandon Sanderson</div>
                    <div class="synopsis">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum animi dolores
                        eius repellat debitis nisi facilis ipsam beatae, itaque modi inventore eaque quam molestiae,
                        eligendi qui, libero non. Ab, repellat.</div>
                </section>

            </article>

            <article class="libro">

                <section class="portada_libro">
                    <a href="#"><img src="assets/img/El_camino_de_los_reyes.jpg" alt="Portada Libro"></a>
                </section>

                <section class="datos_libro">
                    <div class="title">El camino de los reyes</div>
                    <div class="author">Brandon Sanderson</div>
                    <div class="synopsis">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum animi dolores
                        eius repellat debitis nisi facilis ipsam beatae, itaque modi inventore eaque quam molestiae,
                        eligendi qui, libero non. Ab, repellat.</div>
                </section>

            </article>

            <article class="libro">

                <section class="portada_libro">
                    <a href="#"><img src="assets/img/El_camino_de_los_reyes.jpg" alt="Portada Libro"></a>
                </section>

                <section class="datos_libro">
                    <div class="title">El camino de los reyes</div>
                    <div class="author">Brandon Sanderson</div>
                    <div class="synopsis">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum animi dolores
                        eius repellat debitis nisi facilis ipsam beatae, itaque modi inventore eaque quam molestiae,
                        eligendi qui, libero non. Ab, repellat.</div>
                </section>

            </article>

            <article class="libro">

                <section class="portada_libro">
                    <a href="#"><img src="assets/img/El_camino_de_los_reyes.jpg" alt="Portada Libro"></a>
                </section>

                <section class="datos_libro">
                    <div class="title">El camino de los reyes</div>
                    <div class="author">Brandon Sanderson</div>
                    <div class="synopsis">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum animi dolores
                        eius repellat debitis nisi facilis ipsam beatae, itaque modi inventore eaque quam molestiae,
                        eligendi qui, libero non. Ab, repellat.</div>
                </section>

            </article>

            <article class="libro">

                <section class="portada_libro">
                    <a href="#"><img src="assets/img/El_camino_de_los_reyes.jpg" alt="Portada Libro"></a>
                </section>

                <section class="datos_libro">
                    <div class="title">El camino de los reyes</div>
                    <div class="author">Brandon Sanderson</div>
                    <div class="synopsis">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum animi dolores
                        eius repellat debitis nisi facilis ipsam beatae, itaque modi inventore eaque quam molestiae,
                        eligendi qui, libero non. Ab, repellat.</div>
                </section>

            </article>

            <article class="libro">

                <section class="portada_libro">
                    <a href="#"><img src="assets/img/El_camino_de_los_reyes.jpg" alt="Portada Libro"></a>
                </section>

                <section class="datos_libro">
                    <div class="title">El camino de los reyes</div>
                    <div class="author">Brandon Sanderson</div>
                    <div class="synopsis">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum animi dolores
                        eius repellat debitis nisi facilis ipsam beatae, itaque modi inventore eaque quam molestiae,
                        eligendi qui, libero non. Ab, repellat.</div>
                </section>

            </article>

        </section>

    </section>
</main>
<%- include('../includes/footer.ejs') %>