<%- include('../includes/head') %>

<link rel="stylesheet" href="/css/normalize.css">
<!--CSS que borra cualquire estilo por defecto-->
<!--<link rel="stylesheet" href="/css/index.css" type="text/css">-->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet">

<%- include('../includes/header.ejs') %>

<main class="main_grid">

    <section class="contenedor_novedades">
        <h2>Novedades</h2>
        <a href="#">Ver más</a>

        <section class="contenedor_libros">

            <article class="libro">

                <section class="portada_libro">
                    <a href="#"><img src="assets/img/El_camino_de_los_reyes.jpg" alt="Portada Libro"></a>
                </section>

                <section class="datos_libro">
                    <div class="title">El camino de los reyes</div>
                    <div class="author">Brandon Sanderson</div>
                    <div class="synopsis">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum animi dolores
                        eius repellat debitis nisi facilis ipsam beatae, itaque modi inventore eaque quam molestiae,
                        eligendi qui, libero non. Ab, repellat.</div>
                </section>

            </article>

            <article class="libro">

                <section class="portada_libro">
                    <a href="#"><img src="assets/img/El_camino_de_los_reyes.jpg" alt="Portada Libro"></a>
                </section>

                <section class="datos_libro">
                    <div class="title">El camino de los reyes</div>
                    <div class="author">Brandon Sanderson</div>
                    <div class="synopsis">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum animi dolores
                        eius repellat debitis nisi facilis ipsam beatae, itaque modi inventore eaque quam molestiae,
                        eligendi qui, libero non. Ab, repellat.</div>
                </section>

            </article>

            <article class="libro">

                <section class="portada_libro">
                    <a href="#"><img src="assets/img/El_camino_de_los_reyes.jpg" alt="Portada Libro"></a>
                </section>

                <section class="datos_libro">
                    <div class="title">El camino de los reyes</div>
                    <div class="author">Brandon Sanderson</div>
                    <div class="synopsis">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum animi dolores
                        eius repellat debitis nisi facilis ipsam beatae, itaque modi inventore eaque quam molestiae,
                        eligendi qui, libero non. Ab, repellat.</div>
                </section>

            </article>

            <article class="libro">

                <section class="portada_libro">
                    <a href="#"><img src="assets/img/El_camino_de_los_reyes.jpg" alt="Portada Libro"></a>
                </section>

                <section class="datos_libro">
                    <div class="title">El camino de los reyes</div>
                    <div class="author">Brandon Sanderson</div>
                    <div class="synopsis">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum animi dolores
                        eius repellat debitis nisi facilis ipsam beatae, itaque modi inventore eaque quam molestiae,
                        eligendi qui, libero non. Ab, repellat.</div>
                </section>

            </article>

            <article class="libro">

                <section class="portada_libro">
                    <a href="#"><img src="assets/img/El_camino_de_los_reyes.jpg" alt="Portada Libro"></a>
                </section>

                <section class="datos_libro">
                    <div class="title">El camino de los reyes</div>
                    <div class="author">Brandon Sanderson</div>
                    <div class="synopsis">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum animi dolores
                        eius repellat debitis nisi facilis ipsam beatae, itaque modi inventore eaque quam molestiae,
                        eligendi qui, libero non. Ab, repellat.</div>
                </section>

            </article>

            <article class="libro">

                <section class="portada_libro">
                    <a href="#"><img src="assets/img/El_camino_de_los_reyes.jpg" alt="Portada Libro"></a>
                </section>

                <section class="datos_libro">
                    <div class="title">El camino de los reyes</div>
                    <div class="author">Brandon Sanderson</div>
                    <div class="synopsis">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum animi dolores
                        eius repellat debitis nisi facilis ipsam beatae, itaque modi inventore eaque quam molestiae,
                        eligendi qui, libero non. Ab, repellat.</div>
                </section>

            </article>

        </section>

    </section>

    <section class="contenedor_populares">
        <h2>Lo más leído</h2>
        <a href="#">Ver más</a>

        <section class="contenedor_libros">

            <article class="libro">

                <section class="portada_libro">
                    <a href="#"><img src="assets/img/El_camino_de_los_reyes.jpg" alt="Portada Libro"></a>
                </section>

                <section class="datos_libro">
                    <div class="title">El camino de los reyes</div>
                    <div class="author">Brandon Sanderson</div>
                    <div class="synopsis">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum animi dolores
                        eius repellat debitis nisi facilis ipsam beatae, itaque modi inventore eaque quam molestiae,
                        eligendi qui, libero non. Ab, repellat.</div>
                </section>

            </article>

            <article class="libro">

                <section class="portada_libro">
                    <a href="#"><img src="assets/img/El_camino_de_los_reyes.jpg" alt="Portada Libro"></a>
                </section>

                <section class="datos_libro">
                    <div class="title">El camino de los reyes</div>
                    <div class="author">Brandon Sanderson</div>
                    <div class="synopsis">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum animi dolores
                        eius repellat debitis nisi facilis ipsam beatae, itaque modi inventore eaque quam molestiae,
                        eligendi qui, libero non. Ab, repellat.</div>
                </section>

            </article>

            <article class="libro">

                <section class="portada_libro">
                    <a href="#"><img src="assets/img/El_camino_de_los_reyes.jpg" alt="Portada Libro"></a>
                </section>

                <section class="datos_libro">
                    <div class="title">El camino de los reyes</div>
                    <div class="author">Brandon Sanderson</div>
                    <div class="synopsis">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum animi dolores
                        eius repellat debitis nisi facilis ipsam beatae, itaque modi inventore eaque quam molestiae,
                        eligendi qui, libero non. Ab, repellat.</div>
                </section>

            </article>

            <article class="libro">

                <section class="portada_libro">
                    <a href="#"><img src="assets/img/El_camino_de_los_reyes.jpg" alt="Portada Libro"></a>
                </section>

                <section class="datos_libro">
                    <div class="title">El camino de los reyes</div>
                    <div class="author">Brandon Sanderson</div>
                    <div class="synopsis">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum animi dolores
                        eius repellat debitis nisi facilis ipsam beatae, itaque modi inventore eaque quam molestiae,
                        eligendi qui, libero non. Ab, repellat.</div>
                </section>

            </article>

            <article class="libro">

                <section class="portada_libro">
                    <a href="#"><img src="assets/img/El_camino_de_los_reyes.jpg" alt="Portada Libro"></a>
                </section>

                <section class="datos_libro">
                    <div class="title">El camino de los reyes</div>
                    <div class="author">Brandon Sanderson</div>
                    <div class="synopsis">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum animi dolores
                        eius repellat debitis nisi facilis ipsam beatae, itaque modi inventore eaque quam molestiae,
                        eligendi qui, libero non. Ab, repellat.</div>
                </section>

            </article>

            <article class="libro">

                <section class="portada_libro">
                    <a href="#"><img src="assets/img/El_camino_de_los_reyes.jpg" alt="Portada Libro"></a>
                </section>

                <section class="datos_libro">
                    <div class="title">El camino de los reyes</div>
                    <div class="author">Brandon Sanderson</div>
                    <div class="synopsis">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum animi dolores
                        eius repellat debitis nisi facilis ipsam beatae, itaque modi inventore eaque quam molestiae,
                        eligendi qui, libero non. Ab, repellat.</div>
                </section>

            </article>

        </section>

    </section>
    <%- include('../includes/footer.ejs') %>