<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Pruebas conexion BBDD</title>
    </head>
    <body>
        <h1>PDO</h1>
        <form action="php/pruebasConexionPDO.php" method="post">
            <label for="numLibros">Cuántos libros te muestro?</label>
            <input type="number" name="numLibros" id="numLibros" required autofocus>
            <input type="submit" name="mostrarLibros" id="mostrarLibros" value="mostrar libros">
        </form>
    </body>
</html>